<!DOCTYPE html>
<html>

<head>
    <title>Aula de JavaScript Assíncrono e Resolução de Dúvidas</title>
    <link rel="stylesheet" href="css/materialize.css" />
    <link rel="stylesheet" href="css/style.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

    {{{ body }}}

    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/jquery.serializeObject.js"></script>
    <script src="js/lib/materialize.js"></script>
    <script src="js/appEngine.js"></script>
</body>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Template Engine</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="/assincroniajs.html">Assincronia JavaScript</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="/">Exemplo REST API</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

</html>
